body {
	background-color: rgba(235, 239, 238, 1.00);
}

#topbar {
	background-color: rgba(130, 199, 144, 1.00);
	margin-bottom: 10px;
}

.title {
	font-size: 22px;
	color: white;
	text-align: center;
}

.fa-angle-left {
	margin-top: 16px;
	color: white;
	font-size: 29px;
}

.ruler {
	border: 1px solid white;
	border-radius: 3px;
	font-family: '微软雅黑';
	line-height: 28px;
	color: white;
	font-size: 16px;
	text-align: center;
	width: 55px;
	float: right;
	margin-top: 18px;
}

.order {
	background-color: white;
	margin-bottom: 10px;
}

.ordertitle {
	font-family: '微软雅黑';
	font-weight: bold;
	border-bottom: 1px solid rgba(209, 209, 209, 1.00);
	padding: 3px;
	margin-bottom: 5px;
	width: 94%;
	margin-left: 3%;
}

.orderweek {
	width: 60px;
	height: 60px;
	border: 1px solid rgba(130, 199, 144, 1.00);
	border-radius: 30px;
	font-family: '微软雅黑';
	color: rgba(130, 199, 144, 1.00);
	background-color: white;
	margin-top: 10px;
	margin-left: 35%;
	outline: none;
}

.select {
	background-color: rgba(130, 199, 144, 1.00);
	color: white;
}

.line {
	border-right: 1px solid rgba(209, 209, 209, 1.00);
}

.ordertime {
	display: block;
	margin: 8px auto;
	font-family: '微软雅黑';
	font-size: 14px;
	color: rgba(130, 199, 144, 1.00);
	background-color: white;
	border-bottom: 1px solid rgba(209, 209, 209, 1.00);
	border-top: 1px solid rgba(209, 209, 209, 1.00);
	border-left: none;
	border-right: none;
	padding: 5px 0;
	outline: none;
}

.ordersubmit {
	margin-top: 13px;
	margin-bottom: 22px;
	background-color: rgba(130, 199, 144, 1.00);
	width: 100%;
	border: none;
	height: 40px;
	font-family: '微软雅黑';
	font-size: 18px;
	color: white;
	border-radius: 8px;
}

.bgcolor {
	background-color: rgba(235, 239, 238, 1.00);
}

/*bar*/
#bar {
	background-color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.bar-item {
	display: block;
	margin: 6px auto;
}

#bar h6 {
	font-family: '微软雅黑';
	color: rgba(162, 166, 169, 1.00);
	text-align: center;
	margin-top: 3px;
}