body {
	background-color: rgba(235, 239, 238, 1.00);
}
/*search*/
#search {
	margin: 0;
	height: 38px;
	background-color: rgba(130, 199, 144, 1.00);
}

.search {
	margin-top: 5px;
	width: 100%;
	height: 28px;
	border-radius: 13px;
	border: none;
	font-family: '微软雅黑';
	font-size: 15px;
	color: darkgray;
	background-color: white;
}

.fa-search {
	letter-spacing: 7px;
	color: rgba(130, 199, 144, 1.00);
}

.fa-angle-left {
	margin-top: 5px;
	color: white;
	font-size: 29px;
}
/*nav*/
#nav {
	background-color: white;
}

.bar-item {
	display: block;
	margin: 6px auto;
}

#nav h6 {
	font-family: '微软雅黑';
	color: rgba(162, 166, 169, 1.00);
	text-align: center;
	margin-top: 3px;
}
/*info*/
.info {
	background-color: white;
	margin: 8px 0;
	width: 100%;
}

.line {
	width: 4px;
	height: 13px;
	background-color: rgba(130, 199, 144, 1.00);
	margin: 10px 5px 0px 8px;
	display: inline-block;
}

.title h6 {
	display: inline-block;
	font-family: '微软雅黑';
	font-size: 13px;
}

.item {
	border: 1px solid rgba(235, 239, 238, 1.00);
	height: 100px;
	padding: 0px;
}

.goods {
	padding: 0px;
}

.goods img {
	margin-top: 8px;
	margin-left: 5px;
	width: 80px;
	height: 80px;
	float: left;
}

.item h3, .item h4, .item h5 {
	font-family: '微软雅黑';
	display: block;
}

.item h3 {
	font-size: 16px;
	margin-top: 13px;
}

.item h4 {
	font-size: 13px;
	color: rgba(162, 166, 169, 1.00);
	margin-top: 9px;
}

.item h5 {
	font-size: 11px;
	color: #DA674A;
	margin-top: 9px;
}

.add {
	margin-top: 25px;
}
/*foot*/
.foot {
	width: 100%;
	height: 110px;
	font-family: '微软雅黑';
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	color: rgba(162, 166, 169, 1.00);
	background-color: rgba(235, 239, 238, 1.00);
}
/*foot*/
.foot {
	width: 100%;
	height: 110px;
	font-family: '微软雅黑';
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	color: rgba(162, 166, 169, 1.00);
	background-color: rgba(235, 239, 238, 1.00);
}
/*bar*/
#bar {
	background-color: rgba(130, 199, 144, 1.00);
	position: fixed;
	width: 100%;
	height: 45px;
	bottom: 0;
}

#bar h5 {
	font-family: '微软雅黑';
	font-size: 17px;
	margin-top: 12px;
	margin-left: 10px;
	color: white;
}
#bar h5 a {
	font-family: '微软雅黑';
	font-size: 17px;
	margin-top: 12px;
	margin-left: 10px;
	color: white;
}
#bar h5 a:hover {
	color: rgba(243, 92, 143, 1.00);
}

.shop {
	border-left: 2px solid white;
}

.shop img {
	float: left;
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.shop h4 {
	font-family: '微软雅黑';
	padding-top: 5px;
	color: #d81e06;
}