<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cavie.green.mapper.User_AuthoritiesMapper">
	<insert id="insertDefaultAuthorities" parameterType="java.lang.Integer">
		INSERT INTO
		user_authorities
		(user_id)
		VALUES
		(#{user_id})
	</insert>
	<!-- 添加工作人员权限记录 -->
	<insert id="insertWorkAuthorities" parameterType="java.util.HashMap">
		INSERT INTO
		user_authorities
		(user_id,authorities_id)
		VALUES
		(#{user_id},#{authorities_id})
	</insert>
	<!-- 删除工作人员用户权限 -->
	<delete id="deleteWorksAuthorities" parameterType="java.util.Arrays">
		DELETE FROM user_authorities
		<where>
			user_id in (
			SELECT user_id FROM user WHERE username in
			<foreach collection="array" item="workName" open="(" close=")"
				separator=",">
				#{workName}
			</foreach>
			) and authorities_id in (3,4)
		</where>
	</delete>
</mapper>
